<div style="background-color: #f3f2f1;">
	<div class="cookies-banner-new">
		<div class="govuk-grid-row">

	    <div class="govuk-grid-column-two-thirds">
	      <!-- <h1 class="govuk-heading-m govuk-!-margin-bottom-3">Let us know you agree to cookies on GOV.UK
	</h1> -->
	      <h1 class="govuk-heading-m">Tell us whether you agree to cookies</h1>
	      <!-- <p class="govuk-body-l">We’d like to put <a href="">cookies</a> on your device to help us improve government services.</p> -->


	      <p>Cookies help us to improve government services, but how we use them is up to you. Tell us whether you agree to our recommended cookie settings.</p>


	      	<ul class="govuk-list">
	          <li><a class="govuk-home__links-link" href="#"><button class="govuk-button"  data-module="govuk-button">Yes, I agree to cookies </button></a> <a class="govuk-home__links-link" href="#"><button class="govuk-button b2" data-module="govuk-button">No, take me to cookie settings</button></a></li>
	          <!-- <li><a class="govuk-home__links-link" href="#"><button class="govuk-button" data-module="govuk-button">No, take me to cookie settings</button></a></li> -->
	         </ul>

	    </div>

	    <!-- <div class="govuk-grid-column-one-third">
	        <ul class="govuk-list">
	          <li class="govuk-home__links-item"><a class="govuk-home__links-link" href="#">No, edit settings</a></li>
	          <li class="govuk-home__links-item"><a class="govuk-home__links-link" href="#">Yes, I agree</a></li>
	         </ul>
	     </div> -->

		</div>
	</div>
</div>