<div style="background-color: #f3f2f1;">
	<div class="cookies-banner-new">
		<div class="govuk-grid-row">

	    <div class="govuk-grid-column-two-thirds">
	      <!-- <h1 class="govuk-heading-m govuk-!-margin-bottom-3">Let us know you agree to cookies
	</h1> -->
	<h1 class="govuk-heading-m">Tell us whether you accept cookies</h1>
	      <!-- <p>We use cookies to improve government services and make the GOV.UK website work as well as possible.</p> -->

	      <p>We use <a href ="">cookies to collect information</a> about how you use GOV.UK. We use this information to make the website work as well as possible and improve government services.</p>
	      <!-- <p>Do you accept cookies?</p> -->
	      	
	      	<ul class="govuk-list">
	          <li><a class="govuk-home__links-link" href="#"><button class="govuk-button"  data-module="govuk-button">Accept all cookies </button></a> <a class="govuk-home__links-link" href="#"><button class="govuk-button b2" data-module="govuk-button">Set cookie preferences</button></a></li>
	          <!-- <li><a class="govuk-home__links-link" href="#"><button class="govuk-button" data-module="govuk-button">No, take me to cookie settings</button></a></li> -->
	         </ul>

	    </div>

	    <!-- <div class="govuk-grid-column-one-third">
	        <ul class="govuk-list">
	          <li class="govuk-home__links-item"><a class="govuk-home__links-link" href="#">No, edit settings</a></li>
	          <li class="govuk-home__links-item"><a class="govuk-home__links-link" href="#">Yes, I agree</a></li>
	         </ul>
	     </div> -->

		</div> 
	</div>
</div>