{% extends "layout.html" %}

{% block pageTitle %}What does your business or organisation do?{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3"><span class="govuk-caption-xl">About your business </span>What does your business or organisation do?</h1>

    <form method="method" action="/transition-check/results">

      <div class="govuk-business-sector">

        <div id="business-sectors__autocomplete-wrapper" class="govuk-body">
          {% include "includes/autocomplete.html" %}
        </div>

        <div class="govuk-business-sector__facets" id="facets" aria-live="assertive" data-module="autocomplete-multiple-results"></div>

        {{ govukButton({
          classes: "govuk-!-margin-right-0",
          text: "Continue"
        }) }}

        {% set fullListHTML %}

          <!-- Agriculture Forestry and Fishing -->
          {{ govukCheckboxes({
            idPrefix: "agriculture",
            name: "agriculture",
            classes: "js-checkbox govuk-checkboxes--small",
            fieldset: {
              legend: {
                text: "Agriculture Forestry and Fishing",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "Growing of cereals (except rice), leguminous crops and oil seeds",
                text: "Growing of cereals (except rice), leguminous crops and oil seeds"
              },
              {
                value: "Growing of rice",
                text: "Growing of rice"
              },
              {
                value: "Growing of vegetables and melons, roots and tubers",
                text: "Growing of vegetables and melons, roots and tubers"
              },
              {
                value: "Growing of sugar cane",
                text: "Growing of sugar cane"
              },
              {
                value: "Growing of tobacco",
                text: "Growing of tobacco"
              },
              {
                value: "Growing of fibre crops",
                text: "Growing of fibre crops"
              },
              {
                value: "Growing of other non-perennial crops",
                text: "Growing of other non-perennial crops"
              },
              {
                value: "Growing of grapes",
                text: "Growing of grapes"
              },
              {
                value: "Growing of tropical and subtropical fruits",
                text: "Growing of tropical and subtropical fruits"
              },
              {
                value: "Growing of citrus fruits",
                text: "Growing of citrus fruits"
              },
              {
                value: "Growing of pome fruits and stone fruits",
                text: "Growing of pome fruits and stone fruits"
              },
              {
                value: "Growing of other tree and bush fruits and nuts",
                text: "Growing of other tree and bush fruits and nuts"
              },
              {
                value: "Growing of oleaginous fruits",
                text: "Growing of oleaginous fruits"
              },
              {
                value: "Growing of beverage crops",
                text: "Growing of beverage crops"
              },
              {
                value: "Growing of spices, aromatic, drug and pharmaceutical crops",
                text: "Growing of spices, aromatic, drug and pharmaceutical crops"
              },
              {
                value: "Growing of other perennial crops",
                text: "Growing of other perennial crops"
              },
              {
                value: "Plant propagation",
                text: "Plant propagation"
              },
              {
                value: "Raising of dairy cattle",
                text: "Raising of dairy cattle"
              },
              {
                value: "Raising of other cattle and buffaloes",
                text: "Raising of other cattle and buffaloes"
              },
              {
                value: "Raising of horses and other equines",
                text: "Raising of horses and other equines"
              },
              {
                value: "Raising of camels and camelids",
                text: "Raising of camels and camelids"
              },
              {
                value: "Raising of sheep and goats",
                text: "Raising of sheep and goats"
              },
              {
                value: "Raising of swine/pigs",
                text: "Raising of swine/pigs"
              },
              {
                value: "Raising of poultry",
                text: "Raising of poultry"
              }
            ]
          }) }}

          <!-- Mining and Quarrying -->
          {{ govukCheckboxes({
            idPrefix: "mining",
            name: "mining",
            classes: "js-checkbox govuk-checkboxes--small",
            fieldset: {
              legend: {
                text: "Mining and Quarrying",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "Deep coal mines",
                text: "Deep coal mines"
              },
              {
                value: "Open cast coal working",
                text: "Open cast coal working"
              },
              {
                value: "Mining of lignite",
                text: "Mining of lignite"
              },
              {
                value: "Extraction of crude petroleum",
                text: "Extraction of crude petroleum"
              },
              {
                value: "Extraction of natural gas",
                text: "Extraction of natural gas"
              },
              {
                value: "Mining of iron ores",
                text: "Mining of iron ores"
              },
              {
                value: "Mining of uranium and thorium ores",
                text: "Mining of uranium and thorium ores"
              },
              {
                value: "Mining of other non-ferrous metal ores",
                text: "Mining of other non-ferrous metal ores"
              },
              {
                value: "Quarrying of ornamental and building stone, limestone, gypsum, chalk",
                text: "Quarrying of ornamental and building stone, limestone, gypsum, chalk"
              },
              {
                value: "Operation of gravel and sand pits; mining of clays and kaolin",
                text: "Operation of gravel and sand pits; mining of clays and kaolin"
              },
              {
                value: "Mining of chemical and fertilizer minerals",
                text: "Mining of chemical and fertilizer minerals"
              },
              {
                value: "Extraction of peat",
                text: "Extraction of peat"
              },
              {
                value: "Extraction of salt",
                text: "Extraction of salt"
              },
              {
                value: "Other mining and quarrying n.e.c.",
                text: "Other mining and quarrying n.e.c."
              },
              {
                value: "Support activities for petroleum and natural gas mining",
                text: "Support activities for petroleum and natural gas mining"
              },
              {
                value: "Support activities for other mining and quarrying",
                text: "Support activities for other mining and quarrying"
              }
            ]
          }) }}

          <!-- Manufacturing -->
          {{ govukCheckboxes({
            idPrefix: "manufacturing",
            name: "manufacturing",
            classes: "js-checkbox govuk-checkboxes--small",
            fieldset: {
              legend: {
                text: "Manufacturing",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "Processing and preserving of meat",
                text: "Processing and preserving of meat"
              },
              {
                value: "Processing and preserving of poultry meat",
                text: "Processing and preserving of poultry meat"
              },
              {
                value: "Production of meat and poultry meat products",
                text: "Production of meat and poultry meat products"
              },
              {
                value: "Processing and preserving of fish, crustaceans and molluscs",
                text: "Processing and preserving of fish, crustaceans and molluscs"
              }
            ]
          }) }}

          <!-- Electricity, gas, steam and air conditioning supply -->
          {{ govukCheckboxes({
            idPrefix: "electricity",
            name: "electricity",
            classes: "js-checkbox govuk-checkboxes--small",
            fieldset: {
              legend: {
                text: "Electricity, gas, steam and air conditioning supply",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "Production of electricity",
                text: "Production of electricity"
              },
              {
                value: "Transmission of electricity",
                text: "Transmission of electricity"
              },
              {
                value: "Distribution of electricity",
                text: "Distribution of electricity"
              },
              {
                value: "Trade of electricity",
                text: "Trade of electricity"
              }
            ]
          }) }}

        {% endset %}

        {{ govukDetails({
          classes: "govuk-!-margin-bottom-0",
          summaryText: "Show full list",
          html: fullListHTML
        }) }}

      </div>

    </form>

  </div>

</div>
{% endblock %}


{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script src="/public/javascripts/business-sector.js"></script>
<script type="text/javascript" src="/public/javascripts/autocomplete.js"></script>

<script>

  // Sectors
  var sector = document.querySelectorAll('.govuk-business-sector');
  sector.forEach(function(sector) {
    new Sector({container: sector});
  });

</script>

{% endblock %}
