{% extends "layout.html" %}

{% block pageTitle %}
Does your business or organisation do any of the following?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/transition-check/run-a-business"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="/transition-check/business-sector">

      {{ govukCheckboxes({
        idPrefix: "import-export",
        name: "import-export",
        fieldset: {
          legend: {
            classes: "govuk-fieldset__legend--xl",
            html: '<span class="govuk-caption-xl">About your business</span>Does your business or organisation do any of the following?',
            isPageHeading: true
          }
        },
        hint: {
          html: '<p>Importing and exporting includes temporarily taking goods across the EU border, for example to a trade fair.</p><p class="govuk-hint">Select all that apply.</p>'
        },
        items: [
          {
            value: "Import from the EU",
            text: "Import from the EU",
            checked: ["import-export"] == "Import from the EU"
          },
          {
            value: "Export to the EU",
            text: "Export to the EU",
            checked: ["import-export"] == "Export to the EU"
          },
          {
            value: "Provide services or do business in the EU",
            text: "Provide services or do business in the EU",
            checked: ["import-export"] == "Provide services or do business in the EU"
          },
          {
            value: "Transporting goods across EU borders",
            text: "Transporting goods across EU borders",
            checked: ["import-export"] == "Transporting goods across EU borders"
          }
        ]
      }) }}

      {{ govukButton({
        classes: "govuk-!-margin-bottom-0",
        text: "Continue"
      }) }}

    </form>

  </div>

</div>
{% endblock %}
