{% extends "layout.html" %}

{% block pageTitle %}Do you own or help to run a UK business or organisation?{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/transition-check/"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="/transition-check/import-export">

      {{ govukRadios({
        idPrefix: "where-do-you-live",
        name: "where-do-you-live",
        fieldset: {
          legend: {
            html: '<span class="govuk-caption-xl">About your business</span>Do you own or help to run a UK business or organisation?',
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "This includes sole traders (self-employed), limited companies, and small and medium enterprises."
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    {{ govukDetails({
      classes: "govuk-!-margin-bottom-0",
      summaryText: "Why am I being asked this question?",
      html: "<p>From 1 January 2021, rules for UK businesses and organisations will change.</p><p>We need to know if you own or help to run a UK business or organisation so we can show you what you need to do to prepare for the new rules.</p>"
    }) }}

  </div>

</div>
{% endblock %}
