// ============================================
// Reset
// ============================================
@mixin reset {
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}


// ============================================
// Filters
// ============================================
.filters {
  background-color: govuk-colour("white");
  bottom: 0;
  display: none;
  left: 0;
  padding-bottom: 68px; // Size of CTA
  padding-top: 56px; // Size of header
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;

  @include govuk-media-query($from: tablet) {
    padding-top: 70px;
  }

  &[aria-hidden="false"] {
    display: block;
  }

}


.filters__toggle {
  display: none;

  &--is-visible {
    display: block;
  }

}



.filters__showlist {
  @include reset;
  @include govuk-font(19, $weight: normal);
  color: govuk-colour("blue");
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: govuk-colour("dark-blue");
  }

  &:focus {
    background-color: govuk-colour("yellow");
    box-shadow: 0 -2px govuk-colour("yellow"), 0 4px govuk-colour("black");
    color: govuk-colour("black");
    outline: 3px solid transparent;
    text-decoration: none;
  }

}


.filters__heading {
  align-items: center;
  border-bottom: 1px solid govuk-colour("mid-grey");
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
}


.filters__content {
  height: 100%;
  overflow-y: scroll;
  padding: 0 15px;
}


.filters__selected {
  border-bottom: 1px solid govuk-colour("mid-grey");
  display: none;
  padding: 15px 0 10px;

  &--is-visible {
    display: block;
  }

}


.filters__selected-content {
  display: flex;
  flex-wrap: wrap;
}


// Close button
.filters__close {
  @include reset;
  @include govuk-font(19, $weight: bold);
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  &:focus {
    background-color: govuk-colour("yellow");
    box-shadow: 0 -2px govuk-colour("yellow"), 0 4px govuk-colour("black");
    color: govuk-colour("black");
    outline: 3px solid transparent;
    text-decoration: none;
  }

}

.filters__close-icon {
  flex-shrink: 0;
  height: 24px;
  width: 24px;
}


.filters__action {
  box-sizing: border-box;
  background-color: govuk-colour("white");
  bottom: 0;
  box-shadow: 0 0 5px 0 rgba(govuk-colour("black"),0.50), 0 -1px 0 0 rgba(govuk-colour("mid-grey"),0.50);
  padding: 15px;
  position: fixed;
  width: 100%;
}



// ============================================
// Accordion
// ============================================
.accordion {
  @include reset;
  margin: 0;
}


.accordion__item {
  border: 0px solid govuk-colour("mid-grey");
  border-bottom-width: 1px;
  list-style: none;

  &:last-child {
    border: 0;
  }

}


// Accordion button
.accordion__header {
  @include reset;
  @include govuk-font(19, $weight: bold);
  align-items: center;
  border: 0;
  cursor: pointer;
  color: govuk-colour("blue");
  display: flex;
  outline: none;
  padding: 15px 0;
  text-align: left;
  width: 100%;

  &:hover {

    .accordion__header-title {
      color: govuk-colour("dark-blue");
      text-decoration: underline;
    }

  }

  &:focus {

    .accordion__header-title {
      background-color: govuk-colour("yellow");
      outline: 3px solid transparent;
      color: govuk-colour("black");
      box-shadow: 0 -2px govuk-colour("yellow"), 0 4px govuk-colour("black");
      text-decoration: none;
    }

  }

}


.accordion__header-icon {
  background-image: url('../images/accordion-arrow.svg');
  background-size: 24px 24px;
  flex-shrink: 0;
  height: 24px;
  margin-right: 10px;
  width: 24px;
}


.accordion__panel {
  padding-left: 34px;
}


.js-enabled {

  .accordion__panel {
    display: none;
  }

  .accordion__item--is-open > .accordion__panel {
    display: block;
  }

  .accordion__item--is-open .accordion__header-icon {
    transform: rotate(180deg);
  }

}


.govuk-template--no-scroll {
  overflow-y: hidden;
}


.govuk-facets__button {
  @include govuk-font(16);
  align-items: center;
  background-color: govuk-colour("white");
  border: 1px solid govuk-colour("mid-grey");
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  margin-right: govuk-spacing(1);
  margin-bottom: govuk-spacing(1);
  padding-bottom: govuk-spacing(2) - 1px;
  padding-left: govuk-spacing(3) - 1px;
  padding-right: govuk-spacing(2) - 1px;
  padding-top: govuk-spacing(2) - 1px;
  text-align: left;

  &:hover {
    border-color: govuk-colour("black");
  }

  &:focus {
    border-color: govuk-colour("black");
    box-shadow: inset 0 0 0 2px govuk-colour("black"), 0 0 0 3px govuk-colour("yellow");
    outline: none;
  }

  &-icon {
    color: currentColor;
    display: block;
    flex-shrink: 0;
    height: 20px;
    margin-left: govuk-spacing(2);
    width: 20px;
  }

}


.govuk-facets__button > * {
  pointer-events: none; // JavaScript fix
}


.js-enabled {

  .js-hidden {
    display: none;
  }

}
