// Home links
.govuk-home__links {

  @include govuk-media-query($from: tablet) {
    background-color: govuk-colour("black");
    box-sizing: border-box;
    bottom: 0;
    padding: 15px 20px 25px 20px;
    position: absolute;
    right: 0;
    width: calc(33.3% - 15px);
    z-index: 1;
  }

}


.govuk-home__links-title {
  @include govuk-font(19, $weight: regular);
  margin-bottom: 0;
  margin-top: govuk-spacing(1);
}


.govuk-home__links-item {
  margin-bottom: govuk-spacing(1);
  margin-top: govuk-spacing(1);

  &:last-child {
    margin-bottom: 0;
  }

}


.govuk-home__links-link {
  @include govuk-font(16, $weight: bold);

  &:link,
  &:visited {
    color: govuk-colour("white");
  }

  &:hover {
    color: rgba(govuk-colour("white"), .75); // Subtle tint for hover
  }

  &:focus {
    color: govuk-colour("black");
  }

}


.govuk-home__links-list {
  @include list-reset;
  margin-top: govuk-spacing(2);
}



// Home services
.govuk-home-services {

  @include govuk-media-query($from: tablet) {
    padding-top: spacing(5);
  }

}


.govuk-home-services__heading {
  margin-bottom: govuk-spacing(1);
}


.govuk-home-services__excerpt {
  margin-bottom: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    min-height: govuk-spacing(7);
  }

}


.govuk-home__promo-image {
  display: block;
  margin-bottom: govuk-spacing(4);
  max-width: 100%;
}


// HRs
.govuk-section-break--dark {
  color: govuk-colour("black");
}

.govuk-section-break--thick {
  border-bottom: govuk-spacing(1) solid currentColor;
}



// Home numbers
.govuk-home-numbers {
  @include list-reset;
}


.govuk-home-numbers__item {
  @include govuk-responsive-margin(7, "bottom");
}


.govuk-home-numbers__link {
  display: block;
  text-decoration: none;
}


.govuk-home-numbers__number {
  @include govuk-font(80, $weight: bold);
  display: block;
}
