.govuk-transition-alert {
  background-color: rgba(govuk-transition-colour("light-blue"), .1);
  box-shadow: inset 0 10px 0 0 govuk-transition-colour("light-blue");
  padding-bottom: govuk-spacing(4);
  padding-top: govuk-spacing(6);
  position: relative;
  z-index: 1;

  &::before,
  &::after {
    background-color: inherit;
    box-shadow: inset 0 10px 0 0 govuk-transition-colour("light-blue");
    content: "";
    position: absolute;
    top: 0; bottom: 0;
    width: 100%;
  }

  &::before {
    left: -100%;
  }

  &::after {
    right: -100%;
  }

}


.govuk-transition-alert__title {
  @include govuk-font(19, $weight: bold);

  @include govuk-media-query($from: tablet) {
    margin-bottom: 0;
  }

}


.govuk-transition-alert__link {
  @include govuk-font(19);
}


.govuk-transition-alert__hide {
  @include govuk-font(16);
  background-color: transparent;
  border: 0 none;
  color: govuk-colour("blue");
  cursor: pointer;
  padding: 0;
  text-decoration: underline;

  @include govuk-media-query($from: tablet) {
    float: right;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:hover {
    color: govuk-colour("dark-blue");
  }

  &:focus {
    color: $govuk-focus-text-colour;
    outline: 3px solid transparent;
    background-color: $govuk-focus-colour;
    box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
    text-decoration: none;
  }

}
