{% extends "layout.html" %}

{% block pageTitle %}What does your business or organisation do?{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3"><span class="govuk-caption-xl">About your business </span>What does your business or organisation do?</h1>

    <form method="get">

      <div class="govuk-business-sector">

        {{ govukInput({
          formGroup: {
            classes: "govuk-!-margin-bottom-3"
          },
          label: {
            text: "Enter your search term. For example, plumbing."
          },
          id: "what-does-your-business-or-organisation-do",
          name: "what-does-your-business-or-organisation-do"
        }) }}

        <div class="govuk-business-sector__facets" id="facets" aria-live="assertive"></div>

        {{ govukButton({
          classes: "govuk-!-margin-right-0",
          text: "Continue"
        }) }}

        {% set fullListHTML %}

          <!-- Agriculture Forestry and Fishing -->
          {{ govukCheckboxes({
            idPrefix: "agriculture",
            name: "agriculture",
            classes: "js-checkbox govuk-checkboxes--small",
            fieldset: {
              legend: {
                text: "Agriculture Forestry and Fishing",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "",
                text: "Growing of cereals (except rice), leguminous crops and oil seeds"
              },
              {
                value: "",
                text: "Growing of rice"
              },
              {
                value: "",
                text: "Growing of vegetables and melons, roots and tubers"
              },
              {
                value: "",
                text: "Growing of sugar cane"
              },
              {
                value: "",
                text: "Growing of tobacco"
              },
              {
                value: "",
                text: "Growing of fibre crops"
              },
              {
                value: "",
                text: "Growing of other non-perennial crops"
              },
              {
                value: "",
                text: "Growing of grapes"
              },
              {
                value: "",
                text: "Growing of tropical and subtropical fruits"
              },
              {
                value: "",
                text: "Growing of citrus fruits"
              },
              {
                value: "",
                text: "Growing of pome fruits and stone fruits"
              },
              {
                value: "",
                text: "Growing of other tree and bush fruits and nuts"
              },
              {
                value: "",
                text: "Growing of oleaginous fruits"
              },
              {
                value: "",
                text: "Growing of beverage crops"
              },
              {
                value: "",
                text: "Growing of spices, aromatic, drug and pharmaceutical crops"
              },
              {
                value: "",
                text: "Growing of other perennial crops"
              },
              {
                value: "",
                text: "Plant propagation"
              },
              {
                value: "",
                text: "Growing of other perennial crops"
              },
              {
                value: "",
                text: "Plant Raising of dairy cattle"
              },
              {
                value: "",
                text: "Raising of other cattle and buffaloes"
              },
              {
                value: "",
                text: "Raising of camels and camelids"
              },
              {
                value: "",
                text: "Raising of sheep and goats"
              },
              {
                value: "",
                text: "Raising of swine/pigs"
              },
              {
                value: "",
                text: "Raising of poultry"
              }
            ]
          }) }}

          <!-- Mining and Quarrying -->
          {{ govukCheckboxes({
            idPrefix: "mining",
            name: "mining",
            classes: "js-checkbox govuk-checkboxes--small",
            fieldset: {
              legend: {
                text: "Mining and Quarrying",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "",
                text: "Deep coal mines"
              },
              {
                value: "",
                text: "Open cast coal working"
              },
              {
                value: "",
                text: "Mining of lignite"
              },
              {
                value: "",
                text: "Extraction of crude petroleum"
              },
              {
                value: "",
                text: "Extraction of natural gas"
              },
              {
                value: "",
                text: "Mining of iron ores"
              },
              {
                value: "",
                text: "Mining of uranium and thorium ores"
              },
              {
                value: "",
                text: "Mining of other non-ferrous metal ores"
              },
              {
                value: "",
                text: "Quarrying of ornamental and building stone, limestone, gypsum, chalk"
              },
              {
                value: "",
                text: "Operation of gravel and sand pits; mining of clays and kaolin"
              },
              {
                value: "",
                text: "Mining of chemical and fertilizer minerals"
              },
              {
                value: "",
                text: "Extraction of peat"
              },
              {
                value: "",
                text: "Extraction of salt"
              },
              {
                value: "",
                text: "Other mining and quarrying n.e.c."
              },
              {
                value: "",
                text: "Support activities for petroleum and natural gas mining"
              },
              {
                value: "",
                text: "Support activities for other mining and quarrying"
              }
            ]
          }) }}

          <!-- Manufacturing -->
          {{ govukCheckboxes({
            idPrefix: "manufacturing",
            name: "manufacturing",
            classes: "js-checkbox govuk-checkboxes--small",
            fieldset: {
              legend: {
                text: "Manufacturing",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "",
                text: "Processing and preserving of meat"
              },
              {
                value: "",
                text: "Processing and preserving of poultry meat"
              },
              {
                value: "",
                text: "Production of meat and poultry meat products"
              },
              {
                value: "",
                text: "Processing and preserving of fish, crustaceans and molluscs"
              }
            ]
          }) }}

          <!-- Electricity, gas, steam and air conditioning supply -->
          {{ govukCheckboxes({
            idPrefix: "electricity",
            name: "electricity",
            classes: "js-checkbox govuk-checkboxes--small",
            fieldset: {
              legend: {
                text: "Electricity, gas, steam and air conditioning supply",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "",
                text: "Production of electricity"
              },
              {
                value: "",
                text: "Transmission of electricity"
              },
              {
                value: "",
                text: "Distribution of electricity"
              },
              {
                value: "",
                text: "Trade of electricity"
              }
            ]
          }) }}

        {% endset %}

        {{ govukDetails({
          classes: "js-business-sector",
          summaryText: "Show full list",
          html: fullListHTML
        }) }}

      </div>

    </form>

  </div>

</div>
{% endblock %}


{% block pageScripts %}
<script src="/public/javascripts/business-sector.js"></script>

<script>

  // Sectors
  var sector = document.querySelectorAll('.govuk-business-sector');
  sector.forEach(function(sector) {
    new Sector({container: sector});
  });

</script>

{% endblock %}
